.elements__list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 1fr);
    gap: 18px;
}

@media (max-width: 658px) {
    .elements__list {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width: 460px) {
    .elements__list {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, 1fr);
        gap: 20px;
    }
}